h1 {
    font-family: 'Felipa', serif;
    font-size: 52px;
    color: #000000;
    text-align: left;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #99047c;
    text-align: left;
}

p {
    font-family: 'georgia', serif;
    font-size: 16px;
    color: #000000;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 9px;
    color: #000000;
    background-color: #e9eef1;
}

#checkerboard_bg {
    background: repeating-conic-gradient(
        #ec99c1 0% 25%,
        #e9eef1 0% 50%
    );
    background-size: 130px 130px;
}

.outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
#pie_grid_wrapper {
    padding: 0;
}

#pie_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
}

#pie_grid > div {
    min-height: 130px;
}

.inner img{
    height: 14vh;
}

.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#checkerboard_bg {
  position: relative;
  overflow: hidden;
}

#checkerboard_bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit; /* or use the same bg you want blurred */
  filter: blur(20px);
  z-index: 0;
}

#checkerboard_bg > .inner {
  position: relative;
  z-index: 1;
}
